/* BODY AND WRAPPER */
body {
    border-style: hidden;
    font-family: Helvetica, sans-serif;
    font-weight: 350;
    font-size: 16px;
    max-width: 1050px;
    padding: .15in;
    word-spacing: normal;
    margin: auto;
    margin-top: 5px
  }
  
  #wrapper {
    background-color: white;
      /* border-style: solid;
    border-width: 1px;
    border-radius:5px;
    box-shadow: 3px 3px 3px #888888; */
    font-family: sans-serif;
    max-width: 1000px;
    padding: .15in;
    word-spacing: normal;
    margin: auto;
    margin-top: 5px
  }
  
  /* LINK STYLES */
  a {
    text-decoration: none;
  }
  
  a:link {
    color: #6495ED;
  }
  
  a:visited {
    /* color: #004085; */
    color: #6495ED;
  }
  
  /* a:hover {
    color: #0000AF;
  } */
  
  /* a:active {
    color: #0000FF;
  } */
  
  /* a.menu, a.menu:link, a.menu:visited {
    display: block;
    padding: 13px 15px 13px 15px;
    font-size: 110%;
    font-weight: 700;
    color: #333333;
  }
  
  a.menu:hover, a.menu:active {
    color: #BF5700;
  }
  
  a.publink {
    color: #000000;
    font-weight: bold;
  }
  
  a.publink:hover {
    color: #BF5700;
  }
  
  a.syslink {
    font-weight: bold;
  }
  
  a.button, a.button:link, a.button:visited, a.button:hover, a.button:active {
    border-radius: 5px;
    background: #BF5700;
    color: #FFFFFF;
    padding: 2px 4px 2px 4px; 
    font-size: 11px
  }
  
  a.button:hover {
    background: #9E4600;
  } */
  
  /* HEADER  */
  #name {
    float: left;
    vertical-align: middle;
    margin: 10px 5px;
    color: #333333;
  }
  
  #header {
    border-top: 2px solid #333333;
    border-bottom: 2px solid #333333;
    overflow: hidden;
    margin: 0px 5px 10px 5px;
    display: inline-block;
    width: 100%;
  }
  
  #header h1 {
    display: inline;
    padding: 20px;
  }
  
  #header ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    line-height: normal;
    display: inline;
    float: right;
  }
  
  #header li {
    display: inline-block;
  }
  
  #picimg{
    border-radius:5px;
    box-shadow: 3px 3px 3px #888888;
  }
  
  /* NORMAL STUFF */
  h1 {
    /* padding-right: 50px; */
    font-size: xx-large;
    font-weight: normal;
  }
  
  h2 {
    font-family: sans-serif;
    font-size: x-large;
    font-weight: lighter;
  }
  
  h3 {
    font-family: sans-serif;
    font-size: large;
    font-weight: lighter;
  }
  
  ul {
    margin-top: 0px;
  }
  
  li {
    margin: 0px 0px;
    line-height: 23px;
  }
  
  /* TABLE */
  table {
    border-collapse: collapse;
    border: 0px solid black;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    vertical-align: top;
    padding: 10px;
    border: 0px solid black;
    border-top: 1px solid #ddd;
  }